.info-container {
  display: flex;
  margin-top: 30px;
  background-color: lightgreen;
  width: 340px;
  height: 300px;
  align-items: left;
  flex-direction: column;
  border-radius: 10px;
  text-align: left;
  padding-left: 15px;
}
