.imagebox-container{
  height: 250px;
  width: 300px;
  background-color: rgb(143, 143, 143);
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 0px;
}

.imagebox-screen {
  height: 170px;
  width: 250px;
  background-color: rgb(0, 238, 255);
  justify-content: center;
  display: flex;
  align-items: center;
}
.dot-container {
  display: flex;
  justify-content: center;
  margin-bottom: 7px;
}

.top-dots {
  height: 10px;
  width: 10px;
  background-color: #c20000;
  border-radius: 50%;
  margin: 0 5px;
}

.shiny-toggle{
margin-top: 7px;
}

.shiny-stars{
  height: 30px;
  margin-left: 100px;
  margin-bottom: -2px;
}

.poke-image{
  position: absolute;
}
.shiny-sprite{
  margin-top: 30px;
}

.sprite-container {
  position: relative;

}

.shiny-stars-container {
  position: absolute;
  top: 0;
  left: 0;

}
