@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

.search-box {
  color: white;
  font-family: "Press Start 2P", cursive !important;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  width: 100%;
}

.search-button {
  color: white;
  font-family: "Press Start 2P", cursive !important;

}

.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{
  font-family: "Press Start 2P", cursive !important;
  font-size: 10px !important;
  color: white !important;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused{
  color: white !important;
  font-size: 9px !important;
  font-family: "Press Start 2P", cursive !important;
}

.random-icon{
  max-height: 27px;
}

.button-box{
  margin-top: 5px;
  display: flex;
  background-color: rgb(143, 143, 143);
  border-radius: 15px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input
{
  width: 225px !important;
}

.randomize-button{
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #ffdd00 !important;
  border-radius: 0px 15px 15px 0px !important;
}
