.App {
  text-align: center;
  background-color: #ff0000;
  max-width: 400px;
  max-height: 1200px;
  justify-content: center;
  align-items: center;
}

.App-link {
  color: #61dafb;
}

.searchbar-component {
  position: flex;
  justify-content: center;
  top: 50px;
  left: 23%;
  margin-left: 20px;
  transform: translateX(10%);
  width: 80%;
  padding-bottom: 25px;
}

.imagebox-component {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.infobox-component {
  display: flex;
  justify-content: center;
}

.evolution-component{
  display: flex;
  justify-content: center;
}

html,
body,
body > div,
.app {
  height: 100%;
  background-color: red;
}

.App {
  text-align: center;
  background-color: #ff0000;
  max-width: 400px;
  max-height: 1200px;
  margin: 0 auto;
}

.searchbar-component,
.imagebox-component,
.infobox-component {
  display: inline-block;
  margin: 0 auto;
}
