.App {
  text-align: center;
  background-color: #ff0000;
}

.App-link {
  color: #61dafb;
}

.searchbar-component {
  position: absolute;
  top: 70px;
  left: 33%;
  transform: translateX(-10%);
  width: 80%;
}

.imagebox-component {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.infobox-component {
  display: flex;
  justify-content: center;
}

html,
body,
body > div,
.app {
  height: 100%;
  background-color: red;
}
